<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.UserDAO">
	<insert id="insertUser" parameterType="User" keyProperty="id">
		insert into gwb_user_test( state, nickname,age,password,mark,name) values
		(#{state}, #{nickname},#{age},#{password},#{mark},#{name})
	</insert>
    <update id="updateUser">
		update gwb_user_test set state=state+#{state}
	</update>

	<select id="getUser" parameterType="string" resultType="cn.springmvc.model.User">

		select * from gwb_user_test where nickName=#{nickName}

	</select>

</mapper>
